<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Les routes</title>
  </head>
  <body ng-app>
   <form name="myForm">
     <!-- Pseudo -->
      <input type="text" name="name" placeholder="Nom" ng-model="name" ng-pattern="/^[0-9]/" required>
      <!-- Message erreur name du form + name du model + name du name + $error + le pattern -->
      <div ng-show="myForm.name.$error.pattern">Je n'accepte que les chiffres, c'est con mais c'est comme ça !</div>
      <!-- E-mail -->
      <input type="text" name="email" placeholder="E-mail" ng-model="email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required><br>
      <div ng-show="myForm.email.$error.pattern">Quoi tu sais plus écrire ton mail? Ou tu sais pas ce que c'est?</div>
      <!-- Sujet -->
      <input type="text" name="subject" placeholder="Sujet" ng-model="subject" ng-pattern="/[A-Z]{10}/" required><br>
      <div ng-show="myForm.subject.$error.pattern">Met des majuscules et 10 caractères minimum, pourquoi ? Pourquoi pas..</div>
      <!-- Message -->
      <textarea type="text" name="message" placeholder="Message" ng-model="message" ng-pattern="/[a-zA-Z]{3000}/"></textarea>
      <div ng-show="myForm.message.$error.pattern">3000 caractères minimum pour ton message. Bonne chance !</div><br>
      <!-- Bouton validez -->
      <button>Validez</button>
  </form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  </body>
</html>
